@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Enter the word:</h2>
<Form method="post" action="">
    <table>
        <Tr>
            <td> <p> Enter the word: </p> </td>
            <td> <input id="word" name="word"> </td>
        </Tr>
        <Tr>
            <td> <input type="submit" value="Enter" onclick="eword()" /> </td>
        </Tr>
    </table>
</Form>
