@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main Page</title>
</head>
<body>
    <div class="container">
        <h3>Choose, what to do:</h3>
        <a href="/eword/eword" class="btn btn-primary">Enter new word</a>
        <a href="/flreq/flreq" class="btn btn-success">5 last requests</a>
    </div>
</body>
</html>